duckdb
faiss-cpu
fastapi
grpcio
grpcio-tools
huggingface-hub
jsonlines
k-means-constrained
numpy
openai
pandas
peft
pyarrow
python-dotenv
ray
requests
scikit-learn
themoviedb[full]
torch
transformers
uvicorn
datasets
